<div class="row">
    <div class="col-xs-12">
        <div class="box container">
            <div class="row around-xs">
                <div class="col-xs-10">
                    <div id="recipeResults" class="box-nested">
                        <h6>{recipeName}</h6>
                        <a href="http://www.yummly.com/recipe/{id}">
                            <img src="{imageUrlsBySize[90]}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
