<div class="row">
    <div class="col-xs-12">
        <div class="box container">
            <div class="row around-xs">
                <div class="col-xs-10">
                    <div id="recipeResults" class="box-nested">
                        <a href="http://www.yummly.com/recipes/{}">
                            <img src="{imageUrlsBySize[90]}">
                            <ul>{recipeName}
                                
                                <li>{this.course}</li>
                                <li>{this.cuisine}</li>
                                <li>Ingredients:{ingredients}</li>
                                <li>Time In Seconds:{totalTimeInSeconds}</li>
                                <li>Rating:{rating} </li>
                            </ul>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
